llama-index==0.10.0
pyarrow<21.0.0
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index
sentence-transformers
torch
qdrant-client==1.17.1
sentence-transformers
python-dotenv

datasets
ragas
httpx
pytest
pydantic>=2.0
pydantic-settings>=2.0
rdflib>=6.0
pyshacl>=0.25
